div{
  width: 80%;
  margin: 0 auto;
  height: 100px;
}
.bgcolor{ background-color: #ff4533; }
.bgimage{ background-image: url("ditf.png"); }
.bgposition{
  height: 350px;
  background: url("ditf.png") #820004 no-repeat left;
}
.gradient1{ background:linear-gradient(to right, red, yellow, green);}
.gradient2{ background:linear-gradient(red, yellow, green);}
